.curious-bean {
  color: var(--primary);
  font-family: 'Unbounded';
}

.email-link {
  color: var(--primary);
}

.logo-container {
  padding: 1rem;
  background-color: var(--medium);
  border-radius: 1rem;;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  padding: 3rem 0;
  gap: 3rem;
}

@media screen and (min-width: 1800px) {
  .content {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

.block {
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: larger;
  background-color: var(--medium);
  height: fit-content;
  padding: 1rem;
  border-radius: 1rem;
}