.app {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:var(--light);
  text-align: center;
  font-weight: 600;
  padding: 2rem;
}

.curious-bean {
  color: var(--primary);
  font-family: 'Unbounded';
}
.email-link {
  color: var(--primary);
}

.logo-container {
  padding: 1rem;
  background-color: var(--medium);
  border-radius: 1rem;;
}

.content {
  
}

.block {
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: larger;
  background-color: var(--medium);
  height: fit-content;
  padding: 1rem;
  border-radius: 1rem;
}